<%= form_for(@Posts) do |f| %>
<div class="field">
	<%= f.label :content %>
	<%= f.text_field :content, autofocus: true %>
</div>
<div class="actions">
	<%= f.submit "Tweet!", :class => "submit"%>
</div>
<% end %>